.section-title h1::after {
  background: #f37523 !important;
}
.bg-1c4185 {
  background-color: #1c4185 !important;
}

.icon-2em {
  font-size: 2.5em;
  color: darkorange;
}

.text-darkorange {
  color: darkorange;
}

.font-weight-bold {
  font-weight: bold;
}

.color-f37523 {
  color: #f37523 !important;
}

.bg-f37523 {
  background-color: #f37523 !important;
}

.btn-explore {
  background-color: darkorange;
  border: none;
  outline: none;
  text-decoration: none;
}

@media (min-width: 992px) {
  .container.about {
    max-width: 100% !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }

  .about-text {
    padding-right: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .about-text {
    padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .about-text {
    padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}
