.section-title h1 {
    position: relative;
    display: inline-block;
    padding: 0 60px;
}

.section-title.text-start h1 {
    padding-left: 0;
    font-weight: bold;
}

.section-title h1::before,
.section-title h1::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    bottom: 0;
    background: #000;
}

.section-title h1::before {
    left: 0;
}

.section-title h1::after {
    right: 0;
}

.section-title.text-start h1::before {
    display: none;
}

@media (min-width: 992px) {
  .container.contact {
    max-width: 100% !important;
  }

  .contact-text {
    padding-left: calc(((90% - 960px) / 2) + 0.75rem) !important;
  }

  .contact-text {
    padding-left: 10%;
  }
}

@media (min-width: 1200px) {
  .contact-text {
    padding-left: calc(((90% - 1140px) / 2) + 0.75rem) !important;
  }
}

@media (min-width: 1400px) {
  .contact-text {
    padding-left: calc(((90% - 1320px) / 2) + 0.75rem);
  }
/* 
  .contact-text {
    padding-left: 10%;
  } */
}

.btn-send-message {
  background-color: orangered;
  color: #fff;
  border: none;
}
