
.color-f37523 {
    color: #f37523;
}

.color-f37523 {
    color: #f37523;
    opacity: 0.8;
}

.text-bold {
    font-weight: bold;
}

.icon-3em {
    font-size: 3em;
}

.color-1c4185 {
    color: #1c4185 !important;
}

.font-weight__bold {
    font-weight: bold;
    opacity: 0.8;
}

